# Ignore Django-specific files
*.pyc
*.pyo
__pycache__/
db.sqlite3

# Ignore static files
/static/

# Ignore media files
/media/

# Ignore environment-specific files
.env

# Ignore IDE and editor-specific files
.idea/
.vscode/

# Ignore local development server settings
/.venv/
.env

# Ignore deployment-specific files
*.log
*.pid
*.sock
