{% extends 'wallet/base.html' %}

{% block title %}
    Wallet
{% endblock title %}
  

{% block content %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="main">
        <div class="cover-pic">

        </div>
        
    </div>


    Username:{{user.username}} <br>
    Wallet-Id:{{wallet.id}} <br>
    Wallet-Balance:{{wallet.balance}} <br>

    <form action="{% url 'wallet:transfer-fund' %}" method="post">
        {% csrf_token %}
        <input type="number" placeholder="wallet-id" name="wallet-id">
        <input type="number" placeholder="balance" name="transfer-amount">
        <button type="submit">Transfer</button>
    </form>

    
{% endblock content %}
