<!-- register.html -->
{% extends 'account/base.html' %}


{% block title %}
  Create Account
{% endblock title %}
  


{% block content %}


{% if form.errors %}
  
<div class="alert alert-light alert-dismissible fade show" role="alert">
  <strong>Please correct the fields below</strong> 
  {{form.errors}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endif %}
  


<div class="card position-absolute top-50 start-50 translate-middle " style="width: 20rem;">
  
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center">
      <h3>E-wallet</h3>
    </div>
    <hr>
    <form method="post" class="form  d-flex flex-column">
      {% csrf_token %}
      <div class="form-group mb-3 d-flex flex-column justify-content-center">
        <label for="{{ form.username.id_for_label }}">Username</label>
        {{ form.username }}
      </div>
     
      <div class="form-group mb-3 d-flex flex-column justify-content-center">
        <label for="{{ form.password1.id_for_label }}">Password</label>
        {{ form.password1 }}
      </div>
      <div class="form-group mb-3 d-flex flex-column justify-content-center">
        <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
        {{ form.password2 }}
      </div>
      <div class="d-flex align-items-center justify-content-start gap-3">
        <button type="submit" class="btn btn-warning ">Register</button>
      <a class="text-decoration-none btn btn-dark" href="{% url 'account:login' %}"> Login </a>
      </div>
    </form>
    
  </div>
</div>

 
{% endblock %}
